.button-classic {
  background-color: $lightgrey-font;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-succes {
  background-color: $green-succes;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-error {
  background-color: $red-error;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-warning {
  background-color: $yellow-warning;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline {
  border: 1px solid $lightgrey-font;
  border-radius: 8px;
  color: $lightgrey-font;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline-succes {
  border: 1px solid $green-succes;
  border-radius: 8px;
  color: $green-succes;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline-error {
  border: 1px solid $red-error;
  border-radius: 8px;
  color: $red-error;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline-warning {
  border: 1px solid $yellow-warning;
  border-radius: 8px;
  color: $yellow-warning;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square {
  background-color: $lightgrey-font;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-succes {
  background-color: $green-succes;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-error {
  background-color: $red-error;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-warning {
  background-color: $yellow-warning;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline {
  border: 1px solid $lightgrey-font;
  color: $lightgrey-font;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline-succes {
  border: 1px solid $green-succes;
  color: $green-succes;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline-error {
  border: 1px solid $red-error;
  color: $red-error;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline-warning {
  border: 1px solid $yellow-warning;
  color: $yellow-warning;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-b {
  background-color: $lightgrey-font;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-succes-b {
  background-color: $green-succes;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-error-b {
  background-color: $red-error;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-warning-b {
  background-color: $yellow-warning;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-b {
  background-color: $lightgrey-font;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-succes-b {
  background-color: $green-succes;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-error-b {
  background-color: $red-error;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-warning-b {
  background-color: $yellow-warning;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}
