.button-classic {
  background-color: #777777;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-succes {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-error {
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-warning {
  background-color: #ffaa00;;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic {
  background-color: #777777;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-sm-succes {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 8px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-sm-error {
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 8px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-sm-warning {
  background-color: #ffaa00;;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 8px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline {
  border: 1px solid #777777;
  border-radius: 8px;
  color: #777777;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline-succes {
  border: 1px solid #4caf50;
  border-radius: 8px;
  color: #4caf50;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline-error {
  border: 1px solid #f44336;
  border-radius: 8px;
  color: #f44336;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-outline-warning {
  border: 1px solid #ffaa00;
  border-radius: 8px;
  color: #ffaa00;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square {
  background-color: #777777;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-succes {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-error {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-warning {
  background-color: #ffaa00;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline {
  border: 1px solid #777777;
  color: #777777;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline-succes {
  border: 1px solid #4caf50;
  color: #4caf50;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline-error {
  border: 1px solid #f44336;
  color: #f44336;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-outline-warning {
  border: 1px solid #ffaa00;
  color: #ffaa00;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-b {
  background-color: #777777;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-succes-b {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-error-b {
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-classic-warning-b {
  background-color: #ffaa00;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-b {
  background-color: #777777;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-succes-b {
  background-color: #4caf50;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-error-b {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}

.button-square-warning-b {
  background-color: #ffaa00;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;

  :hover {
    opacity: 1
  }
}
