$color-buildy: #0c2033;

$background-content: #eeeeee;

$white: #fff;
$black: #000;

$lightgrey-font-4: #bbb;
$lightgrey-font-3: #ccc;
$lightgrey-font-2: #ddd;
$lightlightgrey-font: #999;
$lightgrey-font: #777;
$grey-font: #555;
$darkgrey-font: #333;

$green-succes: #4caf50;
$red-error: #f44336;
$yellow-warning: #ffaa00;

$input-border: #243647;

$table-classic: #0f64ba;
$edit-table-classic: #ff6815;
$check-table-classic: #28a745;
$delete-table-classic: #d0151c;

$table-blue: #324960;
$table-blue-2: #4fc3a1;

.blue-buildy-bg {
  background-color: $color-buildy;
}

.lightgrey-font {
  color: $lightgrey-font;
}

.white-font {
  color: $white;
}
