.database {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #555555;
  padding: 10px;
}

.database-info {
  width: 100%;

  h3 {
    margin-top: 0;
  }
}

.database-list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.database-img {
  display: flex;
  align-items: center;

  i {
    font-size: 25px;
    margin-right: 10px;
  }
}
