footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0c2033;
  opacity: 0.9;

  .footer-content {
    display: flex;
    flex-direction: column;

    .footer-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      a {
         color: #dddddd;
         padding: 10px;
         text-decoration: none;
      }
    }

    .footer-network {
       display: flex;
       justify-content: center;

       p {
          color: #dddddd;
          font-size: 22px;
          padding: 5px;
       }
    }
  }

  .copyright {
     color: #dddddd;
     display: flex;
     justify-content: center;
     padding: 10px;
  }
}
