/* INPUT */

.input-classic {
   padding: 5px;
   border: 2px solid $lightgrey-font-3;
   border-radius: 6px;
}

.input-ouline {
   padding: 8px;
   border-radius: 6px;
   border: 2px solid $input-border;
}
