.legal {
   padding: 20px;

   h3 {
      color: #555555;
      font-weight: bold;
      font-size: 28px;
   }

   h4 {
      color: #555555;
      font-weight: bold;
      font-size: 18px;
   }

   p {
      color: #555555;
      font-size: 14px;
   }
}
