@media screen and (max-width: 640px) {

  .header-menu {
     display: none;
  }

  .header-menu-640 {
     display: flex;
  }

  .side-menu {
     display: none;
  }

  .footer-menu {
    flex-direction: column;
    height: auto;
  }
}

@media screen and (max-width: 860px) {

  .card-b {
    align-items: center;
    flex-direction: column;
  }

  .card-c {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1080px) {

  .card-d {
    flex-direction: column;
  }

  .card-d-inverse {
    flex-direction: column;
  }

  .left-card-d-inverse {
    order: 1;
  }

  .right-card-d-inverse {
    order: 2;
  }
}
