.index-title {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
}

.index-header {
   margin-bottom: 50px;
   display: flex;
   justify-content: space-around;
}

.index-body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;

   .index-body-left h4 {
      text-align: center;

      .snippet-list {
         display: flex;
         flex-direction: column;

         p {
            padding: 5px;
            margin-bottom: 5px;
            width: 120px;
            background-color: #243647;
            color: #dddddd;
            border: 2px solid #243647;
            display: flex;
            justify-content: center;
            cursor: pointer;
         }
      }
   }
}


.index-body-center {
   width: calc(100% - 320px);
}

.page-list {
   width: 300px;
   height: 250px;
   border: 2px solid #243647;
   overflow-y: auto;
   overflow-x: hidden;

   ul {
      margin: 0;
   }

   li {
      list-style: disclosure-closed;
      padding: 2px 0px;
   }
}


.index-body-right {
  h4 {
    text-align: center;
  }

  .style-list {
    display: flex;
    flex-direction: column;

    p {
      padding: 5px;
      margin-bottom: 5px;
      width: 120px;
      background-color: #243647;
      border: 2px solid #243647;
      color: #dddddd;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .snippet-list p:hover,
    .style-list p:hover {
      border: 2px solid #243647;
      background-color: #ffffff;
      color: #243647;
    }

    .snippet-general {
      .general-id,
      .general-class {
        width: 134px;
      }

      .general-id input,
      .general-class input {
        width: 128px;
        margin-bottom: 15px;
      }
    }

    .snippet-display {
      .display-display,
      .display-position,
      .display-top,
      .display-bottom,
      .display-left,
      .display-right,
      .display-float,
      .display-opacity,
      .display-background-color,
      .display-color {
        width: 134px;

        select {
          width: 134px;
          margin-bottom: 15px;
        }

        input {
          width: 134px;
          margin-bottom: 15px;
        }
      }
    }

    .snippet-typography {
      .typography-font-family,
      .typography-class,
      .typography-text-align {
        width: 134px;

        select {
          width: 134px;
          margin-bottom: 15px;
        }
      }

      .snippet-size {
        .size-width,
        .size-height,
        .size-min-width,
        .size-min-height,
        .size-max-width,
        .size-max-height {
          width: 134px;

          select {
            width: 134px;
            margin-bottom: 15px;
          }

          input {
            width: 128px;
          }
        }
      }

      .snippet-margin {
        .margin-top,
        .margin-bottom,
        .margin-left,
        .margin-right {
          width: 134px;

          select {
            width: 134px;
            margin-bottom: 15px;
          }

          input {
            width: 128px;
          }
        }
      }

      .snippet-padding {
        .padding-top,
        .padding-bottom,
        .padding-left,
        .padding-right {
          width: 134px;

          select {
            width: 134px;
            margin-bottom: 15px;
          }

          input {
            width: 128px;
          }
        }
      }

      .snippet-border {
        .border-style,
        .border-width,
        .border-color {
          width: 134px;
        }

        .border-style select,
        .border-width select,
        .border-color input {
          width: 134px;
          margin-bottom: 15px;
        }

        .border-width input {
          width: 128px;
        }
      }

      .border-style select,
      .border-width select,
      .border-color input {
        width: 134px;
        margin-bottom: 15px;
      }

      .border-width input {
        width: 128px;
      }
    }
  }


  #btn-body-center-modal {
    background-color: #c0392b;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}
