.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #0c2033;
  opacity: 0.9;
  min-width: 250px;

  a {
    text-decoration: none;
    color: #dddddd;
    padding: 10px;
  }

  a:hover {
    background-color: #ffffff;
    color: #0c2033;
    border-right: 2px solid #0c2033;
  }

  p:hover {
     background-color: #ffffff;
     color: #0c2033;
  }

  .side-menu-search {
     width: 100%;
     margin: 5px;
     display: flex;

     input {
        width: 204px;
        padding: 10px 0px;
     }

     button {
        width: 34px;
        cursor: pointer;
     }
  }
}
