.table-classic {
   background-color: $white;
   border: 2px solid $lightgrey-font-3;
   padding: 5px;
   box-shadow: 3px 3px 2px $lightgrey-font;
   border-collapse: collapse;

   thead {
      border-bottom: 2px solid $lightgrey-font-4;
   }

   th {
      padding: 8px;
   }

   tr {
      border-bottom: 1px solid $lightgrey-font-4;
   }

   tbody tr:nth-child(odd) {
     background-color: $lightgrey-font-2;
   }

   td {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
   }

   i {
      cursor: pointer;
   }

   .look-table-classic {
      color: $table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .edit-table-classic {
      color: $edit-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .check-table-classic {
      text-align: center;
      color: $check-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .delete-table-classic {
      color: $delete-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .look-table-classic:hover,
   .edit-table-classic:hover,
   .check-table-classic:hover,
   .delete-table-classic:hover {
      opacity: 0.7;
   }

   .add-table-classic input {
      padding: 5px;
   }
}


.table-color {
   background-color: $white;
   border: 2px solid $lightgrey-font-3;
   padding: 5px;
   box-shadow: 3px 3px 2px $lightgrey-font;
   border-collapse: collapse;

   th {
     padding: 8px;
     background-color: $table-blue;
     color: $white;
   }

   th:nth-child(odd) {
     background-color: $table-blue-2;
   }

   tbody tr:nth-child(odd) {
     background-color: $background-content;
   }

   tr {
      border-bottom: 1px solid $lightgrey-font-4;
   }

   td {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
   }

   i {
      cursor: pointer;
   }

   .look-table-color {
      color: $table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .edit-table-color {
      color: $edit-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .check-table-color {
      text-align: center;
      color: $check-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .delete-table-color {
      color: $delete-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .look-table-color:hover,
   .edit-table-color:hover,
   .check-table-color:hover,
   .delete-table-color:hover {
      opacity: 0.7;
   }

   .add-table-color input {
      padding: 5px;
   }
}


.table-blue {
  background-color: $white;
  border: 2px solid $table-blue;
  padding: 5px;
  border-collapse: collapse;

   th {
     padding: 8px;
     background-color: $table-blue;
     color: $white;
   }

   tbody tr:nth-child(odd) {
     background-color: rgb(50,73,96, 0.3);
   }

   td {
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
     border-right: 1px solid $table-blue;
   }

   i {
      cursor: pointer;
   }

   .look-table-blue {
      color: $table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .edit-table-blue {
      color: $edit-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .check-table-blue {
      text-align: center;
      color: $check-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .delete-table-blue {
      color: $delete-table-classic;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
   }

   .look-table-blue:hover,
   .edit-table-blue:hover,
   .check-table-blue:hover,
   .delete-table-blue:hover {
      opacity: 0.7;
   }

   .add-table-blue input {
      padding: 5px;
   }
}
