@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.blue-buildy-bg {
  background-color: #0c2033;
}

.lightgrey-font {
  color: #555555;
}

.white-font {
  color: #fff;
}

.grey-font {
  color: #dddddd;
}

.dark-grey-font {
  color: #555555;
}

.yellow-buildy-bg {
  background-color: rgba(242, 255, 188, 0.75);
}

.grey-buildy-bg {
  background-color: rgba(170, 170, 170, 0.2);
}

/* MAIN */
body {
  color: #555555;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #dddddd;
}

#container {
  width: calc(100% - 250px);
  min-height: calc(100vh - 208px);
  display: flex;
  justify-content: center;
}

#container-user {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container span i {
  font-size: 18px;
  padding: 10px;
  color: #fff;
  background-color: #243647;
}

.main-container {
  display: flex;
}

.content {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  min-height: calc(100vh - 148px);
}

.min-width-250 {
  width: 250px;
  min-width: 250px;
}

.text-align-center {
  text-align: center;
}

.space-around {
  justify-content: space-around;
}

/* SPACE BOTTOM */
.space-100 {
  margin-bottom: 100px;
}

.space-80 {
  margin-bottom: 80px;
}

.space-60 {
  margin-bottom: 60px;
}

.space-50 {
  margin-bottom: 50px;
}

.space-40 {
  margin-bottom: 40px;
}

.space-30 {
  margin-bottom: 30px;
}

.space-20 {
  margin-bottom: 20px;
}

.space-15 {
  margin-bottom: 15px;
}

.space-10 {
  margin-bottom: 10px;
}

.space-5 {
  margin-bottom: 5px;
}

/* MARGIN */
.margin-10 {
  margin: 10px;
}

.margin-left-10 {
  margin-right: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* PADDING */
.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

/* GRID */
.buildy-grid-v-start {
  display: flex;
  align-items: flex-start;
}

.buildy-grid-v-center {
  display: flex;
  align-items: center;
}

.buildy-grid-v-end {
  display: flex;
  align-items: flex-end;
}

/* FLEX DIRECTION */
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* COLUMN 100% */
.col-100-start {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.col-100-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.col-100-space-a {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.col-100-space-b {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-100-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* COLUMN 90% */
.col-90-start {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.col-90-center {
  display: flex;
  justify-content: center;
  width: 90%;
}

.col-90-end {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

/* COLUMN 80% */
.col-80-start {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.col-80-center {
  display: flex;
  justify-content: center;
  width: 80%;
}

.col-80-end {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

/* COLUMN 75% */
.col-75-start {
  display: flex;
  justify-content: flex-start;
  width: 75%;
}

.col-75-center {
  display: flex;
  justify-content: center;
  width: 75%;
}

.col-75-end {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

/* COLUMN 70% */
.col-70-start {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.col-70-center {
  display: flex;
  justify-content: center;
  width: 70%;
}

.col-70-end {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

/* COLUMN 66% */
.col-66-start {
  display: flex;
  justify-content: flex-start;
  width: 66%;
}

.col-66-center {
  display: flex;
  justify-content: center;
  width: 66%;
}

.col-66-end {
  display: flex;
  justify-content: flex-end;
  width: 66%;
}

/* COLUMN 60% */
.col-60-start {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.col-60-center {
  display: flex;
  justify-content: center;
  width: 60%;
}

.col-60-end {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

/* COLUMN 50% */
.col-50-start {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.col-50-center {
  display: flex;
  justify-content: center;
  width: 50%;
}

.col-50-end {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

/* COLUMN 40% */
.col-40-start {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

.col-40-center {
  display: flex;
  justify-content: center;
  width: 40%;
}

.col-40-end {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

/* COLUMN 33% */
.col-33-start {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}

.col-33-center {
  display: flex;
  justify-content: center;
  width: 33%;
}

.col-33-end {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

/* COLUMN 30% */
.col-30-start {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.col-30-center {
  display: flex;
  justify-content: center;
  width: 30%;
}

.col-30-end {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

/* COLUMN 25% */
.col-25 {
  display: flex;
  width: 25%;
}

.col-25-start {
  display: flex;
  justify-content: flex-start;
  width: 25%;
}

.col-25-center {
  display: flex;
  justify-content: center;
  width: 25%;
}

.col-25-end {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

/* COLUMN 20% */
.col-20-start {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.col-20-center {
  display: flex;
  justify-content: center;
  width: 20%;
}

.col-20-end {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

/* COLUMN 15% */
.col-15-start {
  display: flex;
  justify-content: flex-start;
  width: 15%;
}

.col-15-center {
  display: flex;
  justify-content: center;
  width: 15%;
}

.col-15-end {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

/* COLUMN 10% */
.col-10-start {
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.col-10-center {
  display: flex;
  justify-content: center;
  width: 10%;
}

.col-10-end {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

header {
  width: 100%;
}

#header-640 {
  display: none;
}

#header img,
#header-640 img {
  display: flex;
}

#menu a:hover {
  background-color: #ffffff;
  color: #0c2033;
  border-right: 2px solid #0c2033;
  transition: 1s;
}

#menu-right-scroll {
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

#menu a, #menu-right a {
  color: #0c2033;
}

/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
  #header {
    display: none;
  }

  #header-640 {
    display: flex;
  }

  #menu {
    display: none;
  }

  #container {
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .card-row {
    flex-direction: column;
    align-items: center;
  }

  .card-row-info {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1080px) {
  .card-column-list {
    flex-direction: column;
    align-items: center;
  }

  .card-img-left,
.card-img-right {
    flex-direction: column;
    align-items: center;
  }

  .card-img-left img,
.card-img-right img {
    width: 260px;
    height: 360px;
  }

  .right-card-img-right {
    order: 1;
  }

  .media-column {
    flex-direction: column;
  }

  .col-75-center,
.col-50-center,
.col-25-center {
    width: 100%;
  }
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.title-h1 {
  font-size: 32px;
}

.title-h2 {
  font-size: 28px;
}

.title-h3 {
  font-size: 24px;
}

.title-h4 {
  font-size: 20px;
}

.button-classic {
  background-color: #777777;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic :hover {
  opacity: 1;
}

.button-classic-succes {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-succes :hover {
  opacity: 1;
}

.button-classic-error {
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-error :hover {
  opacity: 1;
}

.button-classic-warning {
  background-color: #ffaa00;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-warning :hover {
  opacity: 1;
}

.button-outline {
  border: 1px solid #777777;
  border-radius: 8px;
  color: #777777;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-outline :hover {
  opacity: 1;
}

.button-outline-succes {
  border: 1px solid #4caf50;
  border-radius: 8px;
  color: #4caf50;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-outline-succes :hover {
  opacity: 1;
}

.button-outline-error {
  border: 1px solid #f44336;
  border-radius: 8px;
  color: #f44336;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-outline-error :hover {
  opacity: 1;
}

.button-outline-warning {
  border: 1px solid #ffaa00;
  border-radius: 8px;
  color: #ffaa00;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-outline-warning :hover {
  opacity: 1;
}

.button-square {
  background-color: #777777;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square :hover {
  opacity: 1;
}

.button-square-succes {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-succes :hover {
  opacity: 1;
}

.button-square-error {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-error :hover {
  opacity: 1;
}

.button-square-warning {
  background-color: #ffaa00;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-warning :hover {
  opacity: 1;
}

.button-square-outline {
  border: 1px solid #777777;
  color: #777777;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-outline :hover {
  opacity: 1;
}

.button-square-outline-succes {
  border: 1px solid #4caf50;
  color: #4caf50;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-outline-succes :hover {
  opacity: 1;
}

.button-square-outline-error {
  border: 1px solid #f44336;
  color: #f44336;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-outline-error :hover {
  opacity: 1;
}

.button-square-outline-warning {
  border: 1px solid #ffaa00;
  color: #ffaa00;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-outline-warning :hover {
  opacity: 1;
}

.button-classic-b {
  background-color: #777777;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-b :hover {
  opacity: 1;
}

.button-classic-succes-b {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-succes-b :hover {
  opacity: 1;
}

.button-classic-error-b {
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-error-b :hover {
  opacity: 1;
}

.button-classic-warning-b {
  background-color: #ffaa00;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-classic-warning-b :hover {
  opacity: 1;
}

.button-square-b {
  background-color: #777777;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-b :hover {
  opacity: 1;
}

.button-square-succes-b {
  background-color: #4caf50;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-succes-b :hover {
  opacity: 1;
}

.button-square-error-b {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-error-b :hover {
  opacity: 1;
}

.button-square-warning-b {
  background-color: #ffaa00;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.button-square-warning-b :hover {
  opacity: 1;
}

/* LABEL */
.label-classic {
  color: #777;
}

/* LABEL INPUT */
.label-input-column-classic {
  display: flex;
  flex-direction: column;
}

/* INPUT */
.input-classic {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: content-box;
}

.input-classic-150 {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 150px;
  box-sizing: content-box;
}

.input-classic-200 {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 200px;
  box-sizing: content-box;
}

.input-ouline {
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #243647;
  width: 200px;
}

.card-column {
  display: flex;
  justify-content: space-around;
}
.card-column .card-column-info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid #999;
  margin-bottom: 10px;
}
.card-column .card-column-info h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-column .card-column-info img {
  width: 100%;
}
.card-column .card-column-info .card-column-text {
  padding: 8px 8px;
}

.card-row {
  display: flex;
  border: 1px solid #999;
  margin-left: 20px;
  margin-right: 20px;
}
.card-row img {
  margin-right: 20px;
  display: flex;
}
.card-row h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-row .right-card-row {
  margin-left: 10px;
  margin-right: 10px;
}

.card-row-info {
  display: flex;
  border: 1px solid #999;
  margin-left: 20px;
  margin-right: 20px;
}
.card-row-info img {
  margin-right: 20px;
}
.card-row-info h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-row-info .left-card-row-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-row-info .right-card-row-info {
  margin-left: 10px;
  margin-right: 10px;
}

.card-img-left {
  display: flex;
  border: 1px solid #999;
  margin-left: 20px;
  margin-right: 20px;
}
.card-img-left img {
  margin-right: 20px;
}
.card-img-left h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-img-left .left-card-img-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-left .right-card-img-left {
  margin-left: 10px;
  margin-right: 10px;
}
.card-img-left .card-img-left-title {
  text-align: center;
}
.card-img-left .right-card-img-left-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.card-img-left .right-card-img-left-1 h4,
.card-img-left .right-card-img-left-2 h4,
.card-img-left .right-card-img-left-3 h4 {
  font-size: 18px;
}

.card-img-right {
  display: flex;
  border: 1px solid #999;
  margin-left: 20px;
  margin-right: 20px;
}
.card-img-right img {
  margin-left: 20px;
}
.card-img-right h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-img-right .left-card-img-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-right .card-img-right-title {
  text-align: center;
}
.card-img-right .right-card-img-right-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.card-img-right .right-card-img-right {
  margin-left: 10px;
  margin-right: 10px;
}
.card-img-right .right-card-img-right-1 h4,
.card-img-right .right-card-img-right-2 h4,
.card-img-right .right-card-img-right-3 h4 {
  font-size: 18px;
}

.card-list-row {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.card-list-row i {
  font-size: 36px;
  margin: 10px;
}
.card-list-row img:hover {
  width: 100%;
  height: 350px;
  margin-left: 3px;
  margin-right: 3px;
}

.chatbox {
  display: flex;
  border: 1px solid #777777;
}

.chatbox-shadow {
  display: flex;
  box-shadow: 0 0 4px black;
}

.chatbox-round {
  display: flex;
  border: 1px solid #777777;
  border-radius: 6px;
}

.chatbox-shadow-round {
  display: flex;
  box-shadow: 0 0 4px black;
  border-radius: 6px;
  align-items: flex-start;
}

.chatbox img,
.chatbox-shadow img {
  width: 100px;
  height: 100px;
}

.chatbox-round img,
.chatbox-shadow-round img {
  border-radius: 6px;
  width: 100px;
  height: 100px;
}

.chatbox-content {
  padding: 3px 3px 3px 8px;
}

.form {
  margin-left: 10px;
  display: flex;
  flex: 1 0px;
}
.form form {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #555555;
  padding: 15px;
}
.form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #555555;
}
.form .input-form:focus {
  border: 2px solid #555555;
}
.form textarea:focus {
  border: 2px solid #555555;
}

.form-shadow {
  margin-left: 10px;
  display: flex;
  flex: 1 0px;
}
.form-shadow form {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 0 4px black;
  padding: 15px;
}
.form-shadow input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #555555;
}
.form-shadow .input-form:focus {
  border: 2px solid #555555;
}
.form-shadow textarea:focus {
  border: 2px solid #555555;
}

/* LIST */
.list-card-classic {
  background-color: rgba(133, 227, 255, 0.21);
  padding: 20px;
  border-radius: 8px;
  background-image: url("img/bg-list-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.list-card-classic .list-card-classic-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.list-card-classic img {
  padding: 10px;
  width: calc(372px / 3);
  height: calc(500px / 3);
  transition: 0.5s;
}
.list-card-classic img:hover {
  width: calc(372px / 2);
  height: calc(500px / 2);
}

.list-deck-classic {
  background-color: #ccc;
  padding: 20px;
  border-radius: 8px;
  background-image: url("img/bg-list-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.list-deck-classic .list-deck-classic-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.list-deck-classic img {
  padding: 10px;
  width: calc(372px / 3);
  height: calc(500px / 3);
  transition: 0.5s;
}
.list-deck-classic img:hover {
  width: calc(372px / 2);
  height: calc(500px / 2);
}

.pagination-classic {
  display: flex;
}
.pagination-classic a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination-classic .pagination-classic-active {
  background-color: #777777;
}

.pagination-round {
  display: flex;
}
.pagination-round a {
  color: black;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination-round .pagination-round-active {
  background-color: #777777;
}

.pagination-border {
  display: flex;
}
.pagination-border a {
  color: black;
  border: 1px solid #777777;
  padding: 8px 15px;
  text-decoration: none;
}
.pagination-border .pagination-border-active {
  background-color: #777777;
}

/* SEARCH */
.search-classic {
  display: flex;
}

.search-classic input {
  padding: 3px 3px;
  border: 1px solid #777777;
}

.slider-classic {
  display: inline-flex;
  overflow-x: hidden;
  position: relative;
}

.slide-classic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 100%;
  flex-shrink: 0;
}

.slides-container-classic {
  display: flex;
  width: 372px;
  height: 500px;
  position: relative;
  transition: all 0.6s;
  left: 0;
}

.nav-classic {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-next-classic,
.nav-prev-classic {
  background: transparent;
  border: none;
  position: relative;
  padding: 18px;
}

.nav-next-classic:focus,
.nav-prev-classic:focus {
  outline: none;
}

.nav-next-classic::before,
.nav-prev-classic::before {
  content: "";
  font-weight: 400;
  background-image: url("img/next-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow {
  display: none;
}

.nav-prev-classic::before {
  transform: rotate(180deg);
}

.disabled::before {
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-top: 20px;
}
.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table-classic {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 5px;
  box-shadow: 3px 3px 2px #777777;
  border-collapse: collapse;
}
.table-classic thead {
  border-bottom: 2px solid #bbbbbb;
}
.table-classic th {
  padding: 8px;
}
.table-classic tr {
  border-bottom: 1px solid #bbbbbb;
}
.table-classic tbody tr:nth-child(odd) {
  background-color: #ddd;
}
.table-classic td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.table-classic i {
  cursor: pointer;
}
.table-classic .look-table-classic {
  color: #0f64ba;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-classic .edit-table-classic {
  color: #ff6815;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-classic .check-table-classic {
  text-align: center;
  color: #28a745;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-classic .delete-table-classic {
  color: #d0151c;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-classic .look-table-classic:hover,
.table-classic .edit-table-classic:hover,
.table-classic .check-table-classic:hover,
.table-classic .delete-table-classic:hover {
  opacity: 0.7;
}
.table-classic .add-table-classic input {
  padding: 5px;
}

.table-color {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 5px;
  box-shadow: 3px 3px 2px #777777;
  border-collapse: collapse;
}
.table-color th {
  padding: 8px;
  background-color: #324960;
  color: #fff;
}
.table-color th:nth-child(odd) {
  background-color: #4fc3a1;
}
.table-color tbody tr:nth-child(odd) {
  background-color: #EEEEEE;
}
.table-color tr {
  border-bottom: 1px solid #bbbbbb;
}
.table-color td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.table-color i {
  cursor: pointer;
}
.table-color .look-table-color {
  color: #0f64ba;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-color .edit-table-color {
  color: #ff6815;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-color .check-table-color {
  text-align: center;
  color: #28a745;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-color .delete-table-color {
  color: #d0151c;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-color .look-table-color:hover,
.table-color .edit-table-color:hover,
.table-color .check-table-color:hover,
.table-color .delete-table-color:hover {
  opacity: 0.7;
}
.table-color .add-table-color input {
  padding: 5px;
}

.table-blue {
  background-color: #ffffff;
  border: 2px solid #324960;
  padding: 5px;
  border-collapse: collapse;
}
.table-blue th {
  padding: 8px;
  background-color: #324960;
  color: #fff;
}
.table-blue tbody tr:nth-child(odd) {
  background-color: rgba(50, 73, 96, 0.3);
}
.table-blue td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-right: 1px solid #324960;
}
.table-blue i {
  cursor: pointer;
}
.table-blue .look-table-blue {
  color: #0f64ba;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-blue .edit-table-blue {
  color: #ff6815;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-blue .check-table-blue {
  text-align: center;
  color: #28a745;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-blue .delete-table-blue {
  color: #d0151c;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.table-blue .look-table-blue:hover,
.table-blue .edit-table-blue:hover,
.table-blue .check-table-blue:hover,
.table-blue .delete-table-blue:hover {
  opacity: 0.7;
}
.table-blue .add-table-blue input {
  padding: 5px;
}

.dropper {
  width: 100%;
  min-height: 50px;
}

/*# sourceMappingURL=global.css.map */
